@import './global.scss';

main {
    position: absolute;
    left: $size_aside;

    margin: 80px;
    border: 1px solid black;

    display: flex;
    flex-flow: row nowrap;

    article {
        background-color: rgb(255, 193, 193);
    }

    aside {
        background-color: rgb(138, 247, 142);
    }
}