@import './global.scss';

main {
    display: flex;
    flex-flow: row wrap;
    
    width: calc(100vw - $width_aside);
    height: calc(100vh - $heigth_header);
    max-width: 100%;
    max-height: 100%;

    display: flex;
    flex-flow: column nowrap;

    .title {
        width: 100%;
        line-height: 24px;

        h1 {
            font-family: 'Roboto';
            font-size: 48px;
            font-weight: 500;
            padding: 0.5em;

            span {
                color: red;
            }
        }

        p {
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 400;
            padding: 0.2em 1.5em;
        }
    }
 
    .show_data {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;

        .graphs {
            display: flex;
            flex-flow: column nowrap;
            width: 80%;

            .graphs_upstair {
                height: 50%;
                margin: 10px;
                background-color: #FBFBFB;
            }
    
            .graphs_downstair {
                height: 50%;
                margin: 0 10px;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                & > * {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    border-radius: 10px;
                }

                .line {
                    background-color: #FF0000;
                }
                
                .radar {
                    background-color: #282D30;
                    text-transform: capitalize;
                }

                .radial {
                    background-color: #FBFBFB;

                    h2 {
                        position: relative;
                        top: 12%;
                        left: 12%;
                        font-size: 1.5em;
                        font-weight: 500;
                    }
                }
            }
        }
        
        .numbers { // Element ul
            width: 20%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            gap: 2%;

            .infoCard { // Element li
                background-color: #FBFBFB;
                border-radius: 10px;
            
                figure {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    padding: 2em 1em;
                    height: 100%;
                    
                    img {
                        padding: 10%;
                        border-radius: 25px;
                    }
            
                    figcaption {
                        display: flex;
                        flex-flow: column nowrap;
                        text-align: left;
                        justify-content: center;
            
                        p:first-child {
                            font-size: 20px;
                            font-weight: 700;
                            color: #282D30;
                        }
            
                        p:last-child {
                            font-size: 14px;
                            font-weight: 500;
                            color: #74798C;
                        }
                    }
                }
            }
            
        }
    }
}