@import './global.scss';
@import './styleGraphs.scss';

main {
    border: 5px solid red;

    width: calc(100vw - $width_aside);
    height: calc(100vh - $heigth_header);
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .title {
        width: 100%;
        line-height: 24px;

        h1 {
            font-family: 'Roboto';
            font-size: 48px;
            font-weight: 500;
            padding: 0.5em;

            span {
                color: red;
            }
        }

        p {
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 400;
            padding: 0.2em 1.5em;
        }
    }

    aside {
        width: 25%;
        border: 1px blue solid;
    }
}