.infoCard {
    background-color: #FBFBFB;
    width: 258px;
    height: 124px;
    margin: 30px;
    border-radius: 10px;

    figure {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        text-align: center;
        padding: 20px;

        img {
            padding: 30px;
            border-radius: 25px;
        }

        figcaption {
            display: flex;
            flex-flow: column nowrap;
            text-align: left;
            justify-content: center;

            p:first-child {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }

            p:last-child {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}

