.infoCard {
    background-color: #FBFBFB;
    margin: 10px;
    border-radius: 10px;
    border: 1px black solid;

    figure {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        text-align: center;
        width: 20vw;
        aspect-ratio: 2/1;
        padding: 5px;

        img {
            width: 4em;
            height: 4em;
            aspect-ratio: 1/1;
            padding: 20px;
            border-radius: 25px;
        }

        figcaption {
            display: flex;
            flex-flow: column nowrap;
            text-align: left;
            justify-content: center;
            line-height: 24px;

            p:first-child {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 700;
            }

            p:last-child {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
